<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineDoctorAppointment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdminLog</servlet-name>
    <servlet-class>com.oda.controller.AdminLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLog</servlet-name>
    <url-pattern>/adminLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.oda.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>com.oda.controller.DoctorLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/doctorLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorRegistration</servlet-name>
    <servlet-class>com.oda.controller.DoctorRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegistration</servlet-name>
    <url-pattern>/docRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientRegistration</servlet-name>
    <servlet-class>com.oda.controller.PatientReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistration</servlet-name>
    <url-pattern>/patientRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientLogin</servlet-name>
    <servlet-class>com.oda.controller.PatientLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogin</servlet-name>
    <url-pattern>/patientLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppointmentRegistration</servlet-name>
    <servlet-class>com.oda.controller.AppointmentReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppointmentRegistration</servlet-name>
    <url-pattern>/appointmentReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelAppointment</servlet-name>
    <servlet-class>com.oda.controller.PatientCancelAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelAppointment</servlet-name>
    <url-pattern>/patientCancelAppointment</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>feedback</servlet-name>
  <servlet-class>com.oda.controller.FeedbackDb</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>feedback</servlet-name>
  <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
</web-app>